<div class="c-comparison js-comparison">
    <figure class="c-comparison__before">
        <img alt="" class="c-comparison__img" src="https://picsum.photos/650/446">
    </figure>
    <figure class="c-comparison__after js-comparison__after">
        <img alt="" class="c-comparison__img" src="https://picsum.photos/650/445">
    </figure>
    <input type="range" min="0" max="100" value="50" class="c-comparison__range js-comparison__range">
    <div class="c-comparison__handle js-comparison__handle"></div>
</div>