// ==========================================================================
// Utilities - Widths
// ==========================================================================

/*
 * Useful classes for widths, taking account media queries.
 * ex: `.u-w-25` (width of 25%), `.u-w-md-50` (width of 50%, within md media-query),
*/
.u-w-auto {
  width: auto !important;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    $i: 0;
    @while $i <= 100 {
      $unit: $i*0.01;
      .u-w#{$infix}-#{$i} { width: percentage($unit) !important; }
      $i: $i + 5;
    }
  }

}
