// ==========================================================================
// Utilities - Spacing
// ==========================================================================

/*
 * Useful classes for margins & paddings, taking account media queries.
 * ex: `.u-ma-25` (margins of 25px), `.u-mx-25` (horiz. margins of 25px), `.u-py-70` (vertic. paddings of 70px),
 * `.u-ml-md-25` (margin-left 25px, within md media-query), `.u-pr-xs-10` (padding-right 10px, within xs media-query)
*/

@each $breakpoint in map-keys($grid-breakpoints) {

  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    $i: 0;
    @while $i <= $spaces {
      // margins
      .u-ma#{$infix}-#{$i} { margin: #{$i}px !important; }
      .u-my#{$infix}-#{$i} { margin-top: #{$i}px !important; margin-bottom: #{$i}px !important; }
      .u-mx#{$infix}-#{$i} { margin-left: #{$i}px !important; margin-right: #{$i}px !important; }
      .u-mt#{$infix}-#{$i} { margin-top: #{$i}px !important; }
      .u-mb#{$infix}-#{$i} { margin-bottom: #{$i}px !important; }
      .u-ml#{$infix}-#{$i} { margin-left: #{$i}px !important; }
      .u-mr#{$infix}-#{$i} { margin-right: #{$i}px !important; }
      // padding-
      .u-pa#{$infix}-#{$i} { padding: #{$i}px !important; }
      .u-py#{$infix}-#{$i} { padding-top: #{$i}px !important; padding-bottom: #{$i}px !important; }
      .u-px#{$infix}-#{$i} { padding-left: #{$i}px !important; padding-right: #{$i}px !important; }
      .u-pt#{$infix}-#{$i} { padding-top: #{$i}px !important; }
      .u-pb#{$infix}-#{$i} { padding-bottom: #{$i}px !important; }
      .u-pl#{$infix}-#{$i} { padding-left: #{$i}px !important; }
      .u-pr#{$infix}-#{$i} { padding-right: #{$i}px !important; }

      $i: $i + 5;
    }
  }
}
