// ==========================================================================
// Components - Links
// ==========================================================================

.c-link, .c-link:visited {

  &:hover, &:focus {
  }
}

/*----------  Color variants  ----------*/

/* Example */
//.c-link--[colorname] {}


/*----------  Style variant  ----------*/

// Define all links style variants



// ==========================================================================
// Media Queries
// ==========================================================================

// Include links media queries
@include media-breakpoint-up(){

}