// ==========================================================================
// Project libraries
// ==========================================================================

/**
  * 1. Select2 (custom form selects)
  * 2. Name of external library (description of library)
 */
//@import "~select2/dist/css/select2.min.css"; /* 3 */


// ==========================================================================
// Style of the app
// ==========================================================================

/* Settings layer */
@import "01_settings/settings.0-index";

/* Tools layer */
@import "02_tools/tools.0-index";

// ==========================================================================
// Frameworks
// ==========================================================================
// Option 1: Include full Bootstrap here, in order to be able to override its variables
@import '~bootstrap/scss/bootstrap';

// Option 2: Include only parts of Bootstrap
// @link https://getbootstrap.com/docs/4.1/getting-started/theming/


/* Generic layer */
@import "03_generic/generic.0-index";

/* Elements layer */
@import "04_elements/elements.0-index";

// ==========================================================================
// Vendors
// ==========================================================================
// Classes relating to external libraries we want to override (ex. : Bootstrap, slick, recaptcha...).
@import "05_vendors/vendors.0-index";

/* Object index */
@import "06_objects/objects.0-index";

/* Components index */
@import "07_components/components.0-index";

/* Utilities index */
@import "08_utilities/utilities.0-index";
