// ==========================================================================
// Settings - Grid (override Bootstrap only if necessary)
// ==========================================================================

//$grid-gutter-width: 35px; // add only if needed

$grid-breakpoints: ();
$grid-breakpoints: map-merge(
  (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1441px
  ),
  $grid-breakpoints
);

//$container-max-widths: ();
//$container-max-widths: map-merge(
//  (
//    sm: 540px,
//    md: 720px,
//    lg: 960px,
//    xxl: 1280px
//  ),
//  $container-max-widths
//);

$columns: 12 !default;
