// ==========================================================================
// Settings - Paths
// ==========================================================================

/*----------  Global paths  ----------*/
$path-img: '/build/img';
$path-icon: '/build/img/icon';
$path-fonts: '/build/fonts';

