// ==========================================================================
// Components - Buttons
// ==========================================================================

.c-btn {}


/*----------  Color variants  ----------*/

/* Example */
//.c-btn--[colorname] {}

/*----------  Size variants  ----------*/

.c-btn--small {}

.c-btn--large {}



// ==========================================================================
// Media Queries
// ==========================================================================

// Include buttons media queries
@include media-breakpoint-up(){

}