// ==========================================================================
// Elements - Forms
// ==========================================================================

/*----------  Labels  ----------*/
label {}

/*----------  Text inputs  ----------*/
textarea,
input {}

/*----------  Textareas  ----------*/
textarea {}

/*----------  Radio buttons  ----------*/
input[type="radio"] {

  + label {

    &:focus {}
  }

  &:checked {

    + label {}
  }
}

/*----------  Checkboxes inputs  ----------*/
input[type="checkbox"] {

  + label {

    &:focus {}

  }

  &:checked {

    + label {}
  }
}



// ==========================================================================
// Media Queries
// ==========================================================================

// Include forms media queries
@include media-breakpoint-up(){

}