// ==========================================================================
// Font sizes functions / mixins
// ==========================================================================

/*----------  Conversion pixel to rem  ----------*/
// Usage : `font-size: rem(14)`

@function rem($value) {
  @return ($value / $font-size-base-px) * 1rem;
}