<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="all" rel="stylesheet" href="{{ '/build/fractal/fractal.css'|path }}">
    <title>Preview</title>
</head>
<body>

{{ yield }}

<script src="{{ '/build/fractal/runtime.js'|path }}"></script>
<script src="{{ '/build/fractal/fractal.js'|path }}"></script>
</body>
</html>
